# Data Wrangling

 In this notebook, we will learn about data wrangling : how to prepare the raw data for statistical analysis.

Problem : Tom wants to sell his used car. What price he should set ?

To make an estimate of the price he should set, we need

    prices on which used cars were sold and their characteristics
    what features of cars affect their price : brand, horsepower, color, etc

In [1]:
import numpy as np
import pandas as pd

### Importing data (from url)

We import the data using the url. read_csv assumes that the input file has column headers. If it does not, we need to set header = None

In [2]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'
df = pd.read_csv(url, header = None)

We now assign the column names

In [3]:
headers = ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', \
 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', \
 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', \
'city-mpg', 'highway-mpg', 'price']

df.columns = headers

In [4]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [5]:
#another possibility is to define url and headers and read from this command

df = pd.read_csv(url, names = headers)

Save the dataframe so that we dont have to download it all the time. index = False to avoid index in the first column which is default

In [6]:
df.to_csv('usedCarsData.csv', index = False)

### Importing data (from saved file)

In [7]:
df = pd.read_csv('usedCarsData.csv')

Before moving on to rigourous data analysis, one should first check

    data types of features : gives idea about type mismatch, and what python methods can be used (depending on whether datatype is numeric or strings)

    data distribution : provides statistical summary

This gives an overview of the dataset, and also points out potential issues with the dataset such as wrong datatype assigned to features

In [8]:
# columns datatype : gives idea about what type of quantity it is and what python methods can be applied 
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [9]:
# provides statistical summary for each column, excluding NaN values
df.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [10]:
# default describe skips rows/columns that do not contain numbers, to include them we need to set include = 'all'
df.describe(include = 'all')

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,205.000000,205,205,205,205,205,205,205,205,205.000000,...,205.000000,205,205,205,205.000000,205,205,205.000000,205.000000,205
unique,NaN,52,22,2,2,3,5,3,2,NaN,...,NaN,8,39,37,NaN,60,24,NaN,NaN,187
top,NaN,?,toyota,gas,std,four,sedan,fwd,front,NaN,...,NaN,mpfi,3.62,3.40,NaN,68,5500,NaN,NaN,?
freq,NaN,41,32,185,168,114,96,120,202,NaN,...,NaN,94,23,20,NaN,19,37,NaN,NaN,4
mean,0.834146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.756585,...,126.907317,NaN,NaN,NaN,10.142537,NaN,NaN,25.219512,30.751220,NaN
std,1.245307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.021776,...,41.642693,NaN,NaN,NaN,3.972040,NaN,NaN,6.542142,6.886443,NaN
min,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,...,61.000000,NaN,NaN,NaN,7.000000,NaN,NaN,13.000000,16.000000,NaN
25%,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,...,97.000000,NaN,NaN,NaN,8.600000,NaN,NaN,19.000000,25.000000,NaN
50%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,...,120.000000,NaN,NaN,NaN,9.000000,NaN,NaN,24.000000,30.000000,NaN
75%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,...,141.000000,NaN,NaN,NaN,9.400000,NaN,NaN,30.000000,34.000000,NaN
max,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,...,326.000000,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

In [11]:
# provides a concise summary of the dataframe (top 30 and bottom 30 rows)
df.info

<bound method DataFrame.info of      symboling normalized-losses         make fuel-type aspiration  \
0            3                 ?  alfa-romero       gas        std
1            3                 ?  alfa-romero       gas        std
2            1                 ?  alfa-romero       gas        std
3            2               164         audi       gas        std
4            2               164         audi       gas        std
..         ...               ...          ...       ...        ...
200         -1                95        volvo       gas        std
201         -1                95        volvo       gas      turbo
202         -1                95        volvo       gas        std
203         -1                95        volvo    diesel      turbo
204         -1                95        volvo       gas      turbo

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two  convertible          rwd           front        88.6  ...
2            two    hatchback          rwd           front        94.5  ...
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
..           ...          ...          ...             ...         ...  ...
200         four        sedan          rwd           front       109.1  ...
201         four        sedan          rwd           front       109.1  ...
202         four        sedan          rwd           front       109.1  ...
203         four        sedan          rwd           front       109.1  ...
204         four        sedan          rwd           front       109.1  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0            130         mpfi  3.47    2.68               9.0        111
1            130         mpfi  3.47    2.68               9.0        111
2            152         mpfi  2.68    3.47               9.0        154
3            109         mpfi  3.19    3.40              10.0        102
4            136         mpfi  3.19    3.40               8.0        115
..           ...          ...   ...     ...               ...        ...
200          141         mpfi  3.78    3.15               9.5        114
201          141         mpfi  3.78    3.15               8.7        160
202          173         mpfi  3.58    2.87               8.8        134
203          145          idi  3.01    3.40              23.0        106
204          141         mpfi  3.78    3.15               9.5        114

     peak-rpm city-mpg highway-mpg  price
0        5000       21          27  13495
1        5000       21          27  16500
2        5000       19          26  16500
3        5500       24          30  13950
4        5500       18          22  17450
..        ...      ...         ...    ...
200      5400       23          28  16845
201      5300       19          25  19045
202      5500       18          23  21485
203      4800       26          27  22470
204      5400       19          25  22625

[205 rows x 26 columns]>

In [12]:
# to print desired number of rows
with pd.option_context('display.max_rows', 206):
    print(df['price'])

0      13495
1      16500
2      16500
3      13950
4      17450
5      15250
6      17710
7      18920
8      23875
9          ?
10     16430
11     16925
12     20970
13     21105
14     24565
15     30760
16     41315
17     36880
18      5151
19      6295
20      6575
21      5572
22      6377
23      7957
24      6229
25      6692
26      7609
27      8558
28      8921
29     12964
30      6479
31      6855
32      5399
33      6529
34      7129
35      7295
36      7295
37      7895
38      9095
39      8845
40     10295
41     12945
42     10345
43      6785
44         ?
45         ?
46     11048
47     32250
48     35550
49     36000
50      5195
51      6095
52      6795
53      6695
54      7395
55     10945
56     11845
57     13645
58     15645
59      8845
60      8495
61     10595
62     10245
63     10795
64     11245
65     18280
66     18344
67     25552
68     28248
69     28176
70     31600
71     34184
72     35056
73     40960
74     45400
75     16503
76      5389
77      6189
78      6669
79      7689
80      9959
81      8499
82     12629
83     14869
84     14489
85      6989
86      8189
87      9279
88      9279
89      5499
90      7099
91      6649
92      6849
93      7349
94      7299
95      7799
96      7499
97      7999
98      8249
99      8949
100     9549
101    13499
102    14399
103    13499
104    17199
105    19699
106    18399
107    11900
108    13200
109    12440
110    13860
111    15580
112    16900
113    16695
114    17075
115    16630
116    17950
117    18150
118     5572
119     7957
120     6229
121     6692
122     7609
123     8921
124    12764
125    22018
126    32528
127    34028
128    37028
129        ?
130     9295
131     9895
132    11850
133    12170
134    15040
135    15510
136    18150
137    18620
138     5118
139     7053
140     7603
141     7126
142     7775
143     9960
144     9233
145    11259
146     7463
147    10198
148     8013
149    11694
150     5348
151     6338
152     6488
153     6918
154     7898
155     8778
156     6938
157     7198
158     7898
159     7788
160     7738
161     8358
162     9258
163     8058
164     8238
165     9298
166     9538
167     8449
168     9639
169     9989
170    11199
171    11549
172    17669
173     8948
174    10698
175     9988
176    10898
177    11248
178    16558
179    15998
180    15690
181    15750
182     7775
183     7975
184     7995
185     8195
186     8495
187     9495
188     9995
189    11595
190     9980
191    13295
192    13845
193    12290
194    12940
195    13415
196    15985
197    16515
198    18420
199    18950
200    16845
201    19045
202    21485
203    22470
204    22625
Name: price, dtype: object

## Data Wrangling

Data wrangling (also known as data cleaning or data preprocessing) is the process of converting raw data into a proper format for further analysis. 
<br>This process involves :

    Identify and handle missing values : a missing value case happens when an entry is left empty
    Data formatting : raw data from different sources can be in different units, formats and conventions (NY, New York)
    Data normalization : various columns have varying range of numbers. It should be  brought into similar range for meaningful comparisons
    Data binning : grouping data together
    Turning categorical values into numeric values

In [13]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

## 1. Missing values

We can see several question marks in the dataframe, those are missing values. 
<br>These missing values may hinder our data analysis. We need to identify and deal with these missing values.

Dealing with missing values : depending on the situation, there are many options to deal with missing values

    ask the data collection team to provide it if possible
    drop the missing value, two possibilities :
        drop the variable (column) : should be done only when most of the entries in the column are missing
        drop that particular data entry (row)
    replace the missing value :
        replace by average value of entire variable
        replace by mode (for categorical values)  (categorical values means non-numeric values such as 'fuel-type')
        infer it from the values of other features
    leave the missing data as missing data : sometimes it beneficial to just let it remain a missing entry

Convert '?' to NaN : we replace all missing data ('?') by 'NaN' which is Python's default missing value marker

In [14]:
df.replace('?', np.nan, inplace = True)

In [15]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

Now that missing values are converted to Python's default, we can use Python's built-in functions to identify these missing values. 
<br>There are two methods to detect missing data :

In [16]:
missing_data = df.isnull() #returns a boolean dataframe where NaN entries become True and present entries become False
missing_data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [17]:
present_data = df.notnull() #returns a boolean dataframe where NaN entries become False and present entries become True
present_data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,True,False,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,False,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,False,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

We can figure out the number of missing values in each column using a for loop

In [18]:
for column in missing_data.columns.values.tolist():         # a loop over all columns in the dataframe
    print(column)
    print(missing_data[column].value_counts())              # counts the number of True/False in each column
    print("")

symboling
False    205
Name: symboling, dtype: int64

normalized-losses
False    164
True      41
Name: normalized-losses, dtype: int64

make
False    205
Name: make, dtype: int64

fuel-type
False    205
Name: fuel-type, dtype: int64

aspiration
False    205
Name: aspiration, dtype: int64

num-of-doors
False    203
True       2
Name: num-of-doors, dtype: int64

body-style
False    205
Name: body-style, dtype: int64

drive-wheels
False    205
Name: drive-wheels, dtype: int64

engine-location
False    205
Name: engine-location, dtype: int64

wheel-base
False    205
Name: wheel-base, dtype: int64

length
False    205
Name: length, dtype: int64

width
False    205
Name: width, dtype: int64

height
False    205
Name: height, dtype: int64

curb-weight
False    205
Name: curb-weight, dtype: int64

engine-type
False    205
Name: engine-type, dtype: int64

num-of-cylinders
False    205
Name: num-of-cylinders, dtype: int64

engine-size
False    205
Name: engine-size, dtype: int64

fuel-system
False    205
Name: fuel-system, dtype: int64

bore
False    201
True       4
Name: bore, dtype: int64

stroke
False    201
True       4
Name: stroke, dtype: int64

compression-ratio
False    205
Name: compression-ratio, dtype: int64

horsepower
False    203
True       2
Name: horsepower, dtype: int64

peak-rpm
False    203
True       2
Name: peak-rpm, dtype: int64

city-mpg
False    205
Name: city-mpg, dtype: int64

highway-mpg
False    205
Name: highway-mpg, dtype: int64

price
False    201
True       4
Name: price, dtype: int64

We have some freedom in choosing which method to use to replace data; however, some methods may seem more reasonable than others. 
<br>We will apply each method to many different columns:

For below five columns, we replace the missing values by the mean value

In [19]:
avgNL = df['normalized-losses'].astype('float').mean(axis = 0)      # calculates the mean of the desired column
df['normalized-losses'].replace(np.nan, avgNL, inplace = True)      # replace NaN by the mean value

avgBore = df['bore'].astype('float').mean(axis = 0)
df['bore'].replace(np.nan, avgBore, inplace = True)                     

avgStroke = df['stroke'].astype('float').mean(axis = 0)
df['stroke'].replace(np.nan, avgStroke, inplace = True)

avgHP = df['horsepower'].astype('float').mean(axis = 0)
df['horsepower'].replace(np.nan, avgHP, inplace = True)

avgPeakRPM = df['peak-rpm'].astype('float').mean(axis = 0)
df['peak-rpm'].replace(np.nan, avgPeakRPM, inplace = True)

Now, for the columns where we want to replace the missing values by the mode, we need to know the frequency of occuring of values. 
<br>We use value_counts() method to obtain this information :

In [20]:
df['num-of-doors'].value_counts()   # returns which values are present in the desired column with their frequency

four    114
two      89
Name: num-of-doors, dtype: int64

In [21]:
df['num-of-doors'].value_counts().idxmax()  # returns the most common type : value with highest occuring frequency

'four'

Now that four doors are the most common type, we replace the missing values in this column by four

In [22]:
df['num-of-doors'].replace(np.nan, 'four', inplace = True)

Now, we drop the rows where price data is missing because this is what we want to predict. 
<br>This row is not useful as any data entry without price data can not be used for prediction

In [23]:
df.dropna(subset = ['price'], axis = 0, inplace = True)    # axis = 0 drops the row, while axis = 1 drops the column
df.reset_index(drop = True, inplace = True)                # reset index, because we dropped two rows

In [24]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

## 2. Data Formatting

Data is usually collected from different places, by different people which may be stored in different formats. 
<br>Data formatting means bringing data into common standard of expression that allows users to make meaningful comparisons :

Formatting examples:
<br>-We are interested to know how many people are from New York. People will use NY, N.Y, New York etc. We would like to treat them as same.
<br>-Fuel consumption in US is measured in mpg (miles per gallon). In countries using metric systems, we would like to convert into to L/100kms.

For many reasons (including when we import the data in python), datatype can be incorrectly established/assigned.
<br>-For example, a numeric value feature is assigned an object type when importing the data
<br>-It is important to assign correct datatype, otherwise in later analysis totally valid data will be treated as missing data due to mismatch

In [25]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

As we can see above, some columns are not of the correct data type. 
<br>Numerical variables should have type 'float' or 'int', and variables with strings such as categories should have type 'object'. 
<br>For example, 'bore' and 'stroke' variables are numerical values that describe the engines, so we should expect them to be of the type 'float' or 'int', however, they are shown as type 'object'. 
<br>We have to convert data types into a proper format for each column using the "astype()" method.

In [26]:
df[['bore', 'stroke']] = df[['bore', 'stroke']].astype('float')
df[['normalized-losses']] = df[['normalized-losses']].astype('int')
df[['price']] = df[['price']].astype('float')
df[['peak-rpm']] = df[['peak-rpm']].astype('float')

In [27]:
df.dtypes

symboling              int64
normalized-losses      int64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower            object
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [28]:
df['city-L/100km'] = 235/df['city-mpg']                 # transforms mpg to L/100kms : this creates a new column

In [29]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000.0,21,27,13495.0,11.190476
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000.0,21,27,16500.0,11.190476
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000.0,19,26,16500.0,12.368421
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500.0,24,30,13950.0,9.791667
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500.0,18,22,17450.0,13.055556

In [30]:
df['highway-mpg'] = 235/df['highway-mpg']                                       # transforms in the same column
df.rename(columns = {'highway-mpg' : 'highway-L/100km'}, inplace = True)        # rename the column

In [31]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-L/100km,price,city-L/100km
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000.0,21,8.703704,13495.0,11.190476
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000.0,21,8.703704,16500.0,11.190476
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000.0,19,9.038462,16500.0,12.368421
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500.0,24,7.833333,13950.0,9.791667
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500.0,18,10.681818,17450.0,13.055556

## 3. Data Normalization

Feature data in various columns are in varying range typically. 
<br>For proper statistical analysis, it is required to have them in similar range so that all features have comparable influence on modelling. 
<br>Without normalization, a feature with larger values will have greater influence on modeling (eg. linear regression) compared to a feature will lesser values. 
<br>This does not mean that the former feature is more important in making predictions. To avoid this, we need to normalize the feature values.

Simple feature scaling : divide each value by the maximum value of that feature (feature values becomes in the range [0,1] )

In [32]:
df['length'] = df['length']/df['length'].max()
df['width'] = df['width']/df['width'].max()
df['height'] = df['height']/df['height'].max()

Min-Max scaling : subtract the minimum value from the value and divide by the range: (x - x_min)/(x_max - x_min) <br>feature values become in the range [0,1]

In [33]:
df['length'] = (df['length'] - df['length'].min())/(df['length'].max() - df['length'].min())

Z-score scaling (standard score) : subtract mean from each value and divide by standard deviation: x-mu/sigma <br>feature values hover around 0 and typically in range [-3,3]

In [34]:
df['length'] = (df['length']-df['length'].mean())/df['length'].std()

In [35]:
df['length']

0     -0.438315
1     -0.438315
2     -0.243544
3      0.194690
4      0.194690
         ...
196    1.184775
197    1.184775
198    1.184775
199    1.184775
200    1.184775
Name: length, Length: 201, dtype: float64

## 4. Binning

Binning is a process of transforming continuous numerical variables into discrete categorical 'bins' for grouped analysis. 
<br>Sometimes, binning can improve accuracy of the predictive models. Grouping data together helps in better understanding of data distribution.

Here, we bin the used cars into three categories depending on their horsepower : high horsepower, medium horsepower, low horsepower.

In [36]:
df['horsepower'] = df['horsepower'].astype(float, copy=True)            # convert data to correct format

We would like four bins of equal size bandwidth. The fourth is because the function "cut" includes the rightmost value:

In [37]:
# making a bin array with a minimum value to a maximum value with nbins+1
bins = np.linspace(min(df['horsepower']), max(df['horsepower']), 4)

In [38]:
group_names = ['Low', 'Medium', 'High']                # set group names

Function cut determines where each value of df['horsepower'] belongs

In [39]:
df['horsepower-binned'] = pd.cut(df['horsepower'], bins, labels = group_names, include_lowest = True)

In [40]:
df[['horsepower', 'horsepower-binned']].head(20)

    horsepower horsepower-binned
0        111.0               Low
1        111.0               Low
2        154.0            Medium
3        102.0               Low
4        115.0               Low
5        110.0               Low
6        110.0               Low
7        110.0               Low
8        140.0            Medium
9        101.0               Low
10       101.0               Low
11       121.0            Medium
12       121.0            Medium
13       121.0            Medium
14       182.0            Medium
15       182.0            Medium
16       182.0            Medium
17        48.0               Low
18        70.0               Low
19        70.0               Low

## 5. Categorical Variables

For statistical modeling, we need to convert categorical variables into quantitative variables, as we can not use categorical values for modeling (such as regression).

In this used car dataset, fuel-type has two values, fuel-type = gas or diesel

Categorical values are encoded into a numerical value using a method called 'one-hot encoding':

    New features (columns) will be created, corresponding to each unique element in the original feature
    The new feature value will be 1 if it matches with the value in the original column, otherwise zero
    For example, if the value of fuel-type = gas in that particular row, feature gas = 1, feature diesel = 0 for that particular row
    New feature variables are also known as dummy variable or indicator variable

We use the panda's method 'get_dummies' to assign numerical values to different categories of fuel type.

In [41]:
dummyVariable_fuelType = pd.get_dummies(df['fuel-type'])

In [42]:
# dummyVariable_fuelType has #rows = #rows in df and #columns = #unique values in fuel-type
dummyVariable_fuelType.head()

   diesel  gas
0       0    1
1       0    1
2       0    1
3       0    1
4       0    1

We now concatenate this new feature dataframe to the original dataframe, and drop the fuel-type column

In [43]:
df = pd.concat([df, dummyVariable_fuelType], axis = 1)
df.drop('fuel-type', axis = 1, inplace = True)

In [44]:
df.head()

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-L/100km,price,city-L/100km,horsepower-binned,diesel,gas
0,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,-0.438315,...,9.0,111.0,5000.0,21,8.703704,13495.0,11.190476,Low,0,1
1,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,-0.438315,...,9.0,111.0,5000.0,21,8.703704,16500.0,11.190476,Low,0,1
2,1,122,alfa-romero,std,two,hatchback,rwd,front,94.5,-0.243544,...,9.0,154.0,5000.0,19,9.038462,16500.0,12.368421,Medium,0,1
3,2,164,audi,std,four,sedan,fwd,front,99.8,0.194690,...,10.0,102.0,5500.0,24,7.833333,13950.0,9.791667,Low,0,1
4,2,164,audi,std,four,sedan,4wd,front,99.4,0.194690,...,8.0,115.0,5500.0,18,10.681818,17450.0,13.055556,Low,0,1

In [45]:
dummyVariable_Aspiration = pd.get_dummies(df['aspiration'])
dummyVariable_Aspiration.rename(columns = {'std':'aspiration-std', 'turbo':'aspiration-turbo'}, inplace = True)
dummyVariable_Aspiration.head()

   aspiration-std  aspiration-turbo
0               1                 0
1               1                 0
2               1                 0
3               1                 0
4               1                 0

In [46]:
df = pd.concat([df, dummyVariable_Aspiration], axis=1)
df.drop('aspiration', axis = 1, inplace=True)

In [47]:
df.to_csv('usedCarsDataClean.csv')